body{
    background-color:rgb(226, 168, 43);
    font-family: Arial, Helvetica, sans-serif;
}
.Top{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content:space-evenly;
    align-items:center ;
    padding: 50px;
}
#rock, #paper, #scissors{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    font-size: larger;
    font-weight: bold;
    background-color: pink ;
    cursor: pointer;
}
#rock:hover, #paper:hover, #scissors:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: pink;
}
.Players{
    display: flex;
    justify-content:center;
    align-items: center;
    justify-items: center;
    gap:auto; 
    margin: auto; 
    gap:100px;
}
#playerscore, #computerscore{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    Border: solid black 5px;
    background-color: pink;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

#feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
    width: 200px;
    Border: solid black 5px;
    background-color: pink;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin:auto;
    margin-top:50px;
    padding: 10px;
}


 